[settings]
# ====== SOLARWINDS IPAM SETTINGS ================ #
SW_IPAM_SERVER    		= https://SolarWinds_Server
SW_IPAM_USER      		= solarwind_user
SW_IPAM_SECRET    		= solarwind_password

# ====== DEVICE42 SETTINGS ============= #
D42_SERVER      		= https://D42IP
D42_USER        		= d42_user
D42_SECRET      		= d42_pass

# ====== OTHER SETTINGS ================ #
MIGRATE_SUBNETS			= True
MIGRATE_IPs				= True
SEND_HOSTNAME_AS_DEVICE	= True
SEND_HOSTNAME_AS_LABEL 	= False
DEBUG					= True
