[settings]
# ====== ORION SETTINGS ================ #
SW_IPAM_SERVER    		= https://10.10.255.12
SW_IPAM_USER      		= admin
SW_IPAM_SECRET    		=

# ====== DEVICE42 SETTINGS ============= #
D42_SERVER      		= https://192.168.3.30
D42_USER        		= admin
D42_SECRET      		= adm!nd42

# ====== OTHER SETTINGS ================ #
MIGRATE_SUBNETS			= True
MIGRATE_IPs				= True
SEND_HOSTNAME_AS_DEVICE	= True
SEND_HOSTNAME_AS_LABEL 	= False
DEBUG					= True
